body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  width: 300px;         
  min-height: 400px;
}

.container{
  width: 250px;            
  padding: 24px;
  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 7px 15px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;     
  gap: 20px;               
  margin: 20px auto; 
}

.title {
  text-align: center;
  padding: 5%;
}

.buttonpos {
  display: flex;
  justify-content: center;
}

.button {
  background-color: blueviolet;
  padding: 10px 20px;
  border: 2px solid blueviolet;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.button:hover{
    background-color: rgb(205, 111, 231);
    transform: translateY(-2px);
    box-shadow: 0 3px 6px;
}
.button:active {
    transform: scale(0.98);
    background-color: blueviolet;
}