* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 350px;
  height: 500px;
}
 
body {
  background: #111;
  font-family: system-ui, sans-serif;
  margin: 0;
  overflow: hidden; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background: #111; width: 90vw; 
  height: 100vh; 
  border:12px solid #111;
}

.app {
  height: 100vh;
  display: flex;
  width: 100vw;
  align-items: stretch;
}

.sidebar {
  width: 80px; 
  margin: 2px 0px 2px 35px;
  background-color: white;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  flex-shrink: 0;
  box-shadow: 0 7px 15px rgba(214, 213, 213, 0.25);
  border-radius: 12px;
}

.user-tab {
  width: 60px;
  height: 60px;
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.user-tab:hover {
 color: white;
 background-color: rgb(205, 111, 231);
 transform: translateY(-2px);
 box-shadow: 0px 3px 6px rgba(44, 43, 43, 0.7);
 transition: all 0.3s ease;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: #bbc1f8;
  border-radius: 50%;
}

.filter-tab {
  width: 60px;
  height: 60px;
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.filter-tab:hover {
 color: white;
 background-color: rgb(205, 111, 231);
 transform: translateY(-2px);
 box-shadow: 0px 3px 6px rgba(44, 43, 43, 0.7);
 transition: all 0.3s ease;
}

.filter {
  width: 30px;
  height: 30px;
  background-color: #bbc1f8;
  border-radius: 50%;
}

.settings-btn {
  margin-top: auto;
  margin-bottom: 10px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 12px;
}

.settings-btn:hover {
  color: blueviolet;
}

.container {
  flex: 1;
  margin: 2px 2px 2px 5px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 7px 15px rgba(214, 213, 213, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 24px;
}

.title {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 1000;
}


.buttonpos {
  display: flex;
  justify-content: center;
}

.button {
  font-family: Consolas, monospace;
  background-color: blueviolet;
  padding: 10px 20px;
  border: 2px solid blueviolet;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(205, 111, 231);
  border-color: rgb(205, 111, 231);
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px rgba(44, 43, 43, 0.7);
}

.button:active {
  transform: scale(0.98);
  background-color: blueviolet;
  border-color: blueviolet;
  box-shadow: 0px 3px 6px rgba(44, 43, 43, 0.7);
}
